@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>    
    Ribeirão Preto, SP 14079-370<br />
    <abbr title="Phone">Phone:</abbr>
    +55 16 997024115
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@casadocodigo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@casadocodigo.com</a>
</address>
